USE [master]
GO
/****** Object:  Database [MEALPLANNERDB]    Script Date: 4/12/2019 12:22:24 PM ******/
CREATE DATABASE [MEALPLANNERDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MealPlannerDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MealPlannerDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MealPlannerDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MealPlannerDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MEALPLANNERDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MEALPLANNERDB]
GO
/****** Object:  Table [dbo].[DietProfile]    Script Date: 4/12/2019 12:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DietProfile](
	[UserName] [nvarchar](50) NOT NULL,
	[DietChoice] [int] NOT NULL,
	[Gluten] [bit] NOT NULL,
	[Peanut] [bit] NOT NULL,
	[Eggs] [bit] NOT NULL,
	[Dairy] [bit] NOT NULL,
	[Soy] [bit] NOT NULL,
	[Onion] [bit] NOT NULL,
	[Nuts] [bit] NOT NULL,
	[Seafood] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhysicalProfile]    Script Date: 4/12/2019 12:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhysicalProfile](
	[DoOption] [int] NOT NULL,
	[Gender] [int] NOT NULL,
	[Height] [float] NOT NULL,
	[Weight] [float] NOT NULL,
	[Age] [int] NOT NULL,
	[ActivityLevel] [int] NOT NULL,
	[FinalWeight] [float] NULL,
	[DaysToGo] [int] NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[BMI] [float] NULL,
	[SuggestedCalories] [int] NULL,
 CONSTRAINT [PK_PhysicalProfile] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/12/2019 12:22:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DietProfile] ADD  DEFAULT ((0)) FOR [Gluten]
GO
ALTER TABLE [dbo].[DietProfile] ADD  DEFAULT ((0)) FOR [Peanut]
GO
ALTER TABLE [dbo].[DietProfile] ADD  DEFAULT ((0)) FOR [Eggs]
GO
ALTER TABLE [dbo].[DietProfile] ADD  DEFAULT ((0)) FOR [Dairy]
GO
ALTER TABLE [dbo].[DietProfile] ADD  DEFAULT ((0)) FOR [Soy]
GO
ALTER TABLE [dbo].[DietProfile] ADD  DEFAULT ((0)) FOR [Onion]
GO
ALTER TABLE [dbo].[DietProfile] ADD  DEFAULT ((0)) FOR [Nuts]
GO
ALTER TABLE [dbo].[DietProfile] ADD  DEFAULT ((0)) FOR [Seafood]
GO
ALTER TABLE [dbo].[DietProfile]  WITH CHECK ADD  CONSTRAINT [FK_DietProfile_ToTable] FOREIGN KEY([UserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[DietProfile] CHECK CONSTRAINT [FK_DietProfile_ToTable]
GO
ALTER TABLE [dbo].[PhysicalProfile]  WITH CHECK ADD  CONSTRAINT [FK_PhysicalProfile] FOREIGN KEY([UserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[PhysicalProfile] CHECK CONSTRAINT [FK_PhysicalProfile]
GO
USE [master]
GO
